<section data-category="actor" style="display:none">
  <div class="form-group">
    <label for="trigger.actor">{{localize "DOCUMENT.Actor"}}</label>
    <select name="trigger.actor" id="trigger.actor">
      <option value=""></option>
      {{#group actors by="pack"}}
        {{#if value}}<optgroup label="{{value}}">{{/if}}
        {{#each items}}
          <option value="{{uuid}}"{{#if selected}} selected{{/if}}>{{localize name}}</option>
        {{/each}}
        {{#if value}}</optgroup>{{/if}}
      {{/group}}
    </select>
  </div>
</section>