@mixin mask-icon($url) {
  $mask: url($url);

  mask-image: $mask;
  -webkit-mask-image: $mask;
  mask-repeat: no-repeat;
  mask-position: center;
}

.sm-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    content: " ";
  }
}

nav .sm-icon {
  background-color: var(--color-text-dark-primary);
}

.sm-icon {
  &.curtains {
    @include mask-icon("../assets/icons/theater-curtains.svg");
  }

  &.control {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    background-color: var(--color-text-light-heading);
  }
}
