@mixin scene-control-icon($url) {
  $mask: url($url);

  background-color: var(--color-text-light-heading);
  mask: $mask;
  -webkit-mask: $mask;
  mask-size: contain;
}

.sm-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}

.sm-curtains {
  @include scene-control-icon(
    "/modules/stage-manager/assets/icons/theater-curtains-black.svg"
  );
}

.sm-token {
  @include scene-control-icon(
    "/modules/stage-manager/assets/icons/token-black.svg"
  );
}

.sm-foreground {
  @include scene-control-icon(
    "/modules/stage-manager/assets/icons/foreground-black.svg"
  );
}

.sm-background {
  @include scene-control-icon(
    "/modules/stage-manager/assets/icons/background-black.svg"
  );
}
