<section>
  {{#with speaker}}
    <input type="hidden" name="speaker.id" id="speaker.id" value="{{id}}">
    <input type="hidden" name="speaker.type" id="speaker.type" value="{{type}}">
    <input type="hidden" name="speaker.serialized" id="speaker.serialized" value="{{serialized}}">

    <div class="center">{{localize "STAGEMANAGER.EDITDIALOG.SPEAKERS.IMAGE"}}</div>

    {{> "modules/stage-manager/templates/speakers/common.hbs" ..}}
  {{/with}}

</section>
