@font-face {
  font-family: 'Stage-Manager-Icons';
  src:
    url('fonts/Stage-Manager-Icons.ttf?pqysul') format('truetype'),
    url('fonts/Stage-Manager-Icons.woff?pqysul') format('woff'),
    url('fonts/Stage-Manager-Icons.svg?pqysul#Stage-Manager-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sm-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Stage-Manager-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-curtains:before {
  content: "\e902";
}
.icon-background:before {
  content: "\e900";
}
.icon-foreground:before {
  content: "\e901";
}
