$icomoon-font-family: "Stage-Manager-Icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-curtains: unquote('"\\e902"');
$icon-background: unquote('"\\e900"');
$icon-foreground: unquote('"\\e901"');

