<div class="form-group-slim flexrow">
  <input type="text" disabled value="{{localize label}}" />
  <input
    type="text"
    disabled
    value="{{localize 'STAGEMANAGER.ADDTRIGGERDIALOG.ARGS.AUTO'}}"
  />
</div>