<div class="form-group-slim flexrow" data-arg="{{key}}">
  <input
    type="text"
    disabled
    value="{{localize label}}"
    data-role="custom-arg-name"
  />
  <input
    type="text"
    disabled
    value="{{localize value}}"
    data-role="custom-arg-value"
  />
</div>