<div
  class="form-group-slim flexrow"
  style="gap: 5px;margin-bottom:2px;"
  data-role="custom-argument"
>
  <input
    type="text"
    id="trigger.arg.{{count}}.name"
    name="trigger.arg.{{count}}.name"
  />
  <input
    type="text"
    id="trigger.arg.{{count}}.value"
    name="trigger.arg.{{count}}.value"
  />
  <div class="flex0">
    <i class="fas fa-minus icon-button" data-action="removeTriggerArgument"></i>
  </div>
</div>